
    /* Body */

body{
    font-family: 'Raleway', sans-serif;
}
.allContent{
    margin-left: 2%;
    margin-right: 2%;
}

a{
    text-decoration:none;
    color:black ;
}

h1{
    font-size: 24px;   
}

.€{
    font-weight: bold; 
}

/* Stars */

.starAccommodation{
   display: flex;
   margin-left: 2%;
   padding-bottom: 2%;
}

/* stars accommodation */

.fullStarAccommodation{
    color: #0065fc;
    font-size: 14px;
    margin-left: 2px;
}

.emptyStarAccommodation{
    margin-left: 2px;
    font-size: 14px;
    color: #F2F2F2;
}

/* stars popular */

.StarPopular1{
    color: #0065fc;
    padding-top: 50px;
    font-size: 14px;
    margin-left:4px;
}

.StarPopular2{

    color: #0065fc;
   
    padding-top: 50px;
    font-size: 14px;
    display: flex;
    margin-left: 4px;
}

.StarPopular3{
    display: flex;
    color: #0065fc;
    padding-top: 50px;
    font-size: 14px;
    margin-left: 4px;
}

.emptyStarPopular{
    color: #F2F2F2;
    margin-left: 4px;
}

/* Header */

.header{
    display: flex;
    justify-content:space-between;
}
.margeReservia{
    width: 23%;
}
/* Navigation */

.navigation{
 display:flex;
 list-style-type: none;
}

.navigation a{
    margin-right: 30px;
    margin-left: 30px;
    padding-left:15px ;
    padding-right:15px ;
    padding-top: 20px;
}

.navigation a:hover{
    border-top: #0065fc solid 2px;

    
   
}

.navRegister{
    font-weight: bolder;
    color: #0065fc;
}

.navAccommodation{
    color: #0065fc;
}

/* Reservia Logo */

#ReserviaLogo{
    
    width: 33%;
}


    
/* Section Research */



/* Research */
.margeResearch{
    margin-top: 1%;
    margin-bottom: 1%;

}
.research{
    font-size:15px ;
    padding: 14px;
    font-weight: bolder;
    border: #F2F2F2 solid 1px;
    border-right: none;
    border-left: none;  
    
 }
 
 
 .submit{
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;
    padding: 14px;
    padding-right: 15px;
    background-color: #0065fc;
    border:#F2F2F2; 
 }
 
 /*logo research*/ 
 .fa-map-marker-alt{
    padding:15px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
 }
 .fa-search{
     display: none;
 }
 
 /* Filters */
 
 .filterContainer {
     display: flex;
     align-items: center;
     
 }

 .filterContainer h2{
     font-size: 20px;
 }
 
 
 .list {
     display: flex;
     font-weight: bolder;
     
     
     
 }
 
 .itemList {
     list-style-type: none;
     padding-right: 20px;
     border: 2px solid #F2F2F2;
     border-radius:35px;
     border-left: none;
     margin-left: 28px;
}

 .itemList:hover{
    color: white;
    background-color:#9bd2f5
}
 
 .linkItem {
  font-size: 18px;
  
 
 }
 

 /* information logo */
 
 .fa-info{
    color: #0065fc;
    font-size: 13px;
    padding-bottom:7px;
    padding-top:7px; 
    padding-right:10px;
    padding-left: 10px;
    border: #F2F2F2 solid 1px;
    border-radius: 100%;
}

 
 /*  Filters logos */
 
 .fa-money-bill-wave, .fa-child,  .fa-heart, .fa-dog{
     font-size: 18px;
     color: #0065fc;
     border-radius: 100%;
     padding: 13px;
     background-color:#d1deee;  
     margin-right: 10px;
 }

 .fa-child{
     padding-left:15px;
     padding-right:15px ;
 }


 
 /* Main */
 
 .container {
     display:flex;
     justify-content: space-between;
     
 }
 
 .container  h3 {
     margin: 1%;
 }
 
 .container p{
     margin: 1%;
 }
 
 
 

/* Section accommadation */

.accommodationContainer{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#accommodation{
    margin-left: 30px;
    font-size: 22px
}


.accommodationcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.margeAccommodation{
    margin: 2%;
}

.accommodationcardContent{
    margin-bottom: 2%;
    background-color: white;
    border-radius: 20px;
    width: 28%;
}

.accommodationcardContent:hover{
    box-shadow:5px 5px 7px 0px #989898;
    
   
    
}

.accommodationcardImg{
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
}
.accommodationcardInformation p, h3{
    padding-bottom: 2%;
    padding-left: 2%;

    
}

.add-more{
    font-size: 18px;
    margin-left:4% 
}


/*  section the most popular */

.popularContainer {
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

/* Logo Popular */
.fa-chart-line{
    float: right;
    font-size:20px;
    margin-right: 7%;
    
    
}

.popularContainer h2{
    padding-left:5%;
}

.margePopular{
    display: flex;
    margin: 4px;
}

.popularcardContent{
    border-radius: 10px;
    margin: 4%;
    background-color: white;
    width:90%;
}
.popularcardContent:hover{
    box-shadow:5px 5px 7px 0px #989898;
}


.popularcardImg{
    margin: 1.2%;
    margin-left: 0.6%;
    border-radius: 10px 0px 0px 10px;
    width: 36%;
    height: 155px;
}
.popularcardInformation{
    padding-top: 2%;
    padding-left:4%;
}
.popularcardInformation p{
    margin-left:3%;
}

/* Section Activities */

#activities{   
    padding-top: 2%;
    padding-left: 2%;
}


.activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;  
  
}

.activitycard{
    width: 23%;
    border-radius: 15px;
    margin: 12px; 
    
}

.margeActivities{
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    box-shadow: 1px 1px 1px  #F2F2F2;
    border-radius: 15px;
}

.margeActivities:hover{
    box-shadow:5px 5px 7px 0px #989898;
    
}


.margeActivities h3{
    padding-left: 5%;
    padding-bottom: 3%;
    
    
}

/* Pictures activities */
.activitiescardImgBig{
    width: 100%;
    height: 460px;
    border-radius: 15px 15px 0px 0px;
    margin-right: 0%;
    object-fit: cover;
}

.activitiescardImg2{
    width: 100%;
    height: 225px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.activitiescardImg3{
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.activitiescardImg4{
    width: 100%;
    height: 192px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

/* footer */
.footer{
    display:flex;
    align-items:stretch;
    background-color: #F2F2F2;
}
.inFooter1{
    margin-left:3%;
    margin-right: 24%;
}

.inFooter3{
    margin-left:20%;
}
.inFooter1 li, .inFooter2 li, .inFooter3 li{
    list-style-type: none;
    padding-top: 8px    
}
 
.inFooter1 ul, .inFooter2 ul, .inFooter3 ul{
    padding-left: 0px;
    font-size: 14px;
    list-style-type: none;   
}

.inFooter1 h4, .inFooter2 h4, .inFooter3 h4{
    margin-bottom:1%
}


