/* Mobile Version */
@media screen and (max-width:767px)
 {

body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.container{
    flex-direction: column-reverse;
    width: 100%;
}
.popularContainer{
    margin-left: 8%;
    width: 93%;
    margin-bottom: 10%;
}
.popularcardContent{  
    margin-bottom: 6%;
}
.accommodationContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;

}
.accommodationcardContent{
    width: 90%;
    
    
}
.containerActivity{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.activitycard{
    width: 100%;
    
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.inFooter{
    margin-left: 10%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filterContainer{

    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.filterContainer h2{
    
    
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.itemList{
    padding: 0px;
    padding-bottom: 4%;
}
.fa-chart-line{
    margin-left: 21%;
    
} 
.header{
    
   display: flex;
  

}
.navigation{
    flex-direction: row-reverse;
    display: flex;
   
}
.navigation a{
margin-left: 0%;
display:block;
justify-content: space-between;


}

.navigation ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#ReserviaLogo {
    min-width: 100%;
   
}

   }