 
    /* Body */

    body{
        font-family: 'Raleway', sans-serif;
    }
    .allContent{
        margin-left: 2%;
        margin-right: 2%;
    }

    a{
        text-decoration:none;
        color:black ;
    }

    h1{
        font-size: 24px;   
    }

    .€{
        font-weight: bold; 
    }
    /* Responsive part */

    .DesktopVersionNone{
        display: none;
    }

    /* Stars */

    .starAccommodation{
       display: flex;
       margin-left: 2%;
       padding-bottom: 2%;
   }

   /* stars accommodation */

   .fullStarAccommodation{
    color: #0065fc;
    font-size: 14px;
    margin-left: 2px;
}

.emptyStarAccommodation{
    margin-left: 2px;
    font-size: 14px;
    color: #F2F2F2;
}

/* stars popular */

.StarPopular1{
    color: #0065fc;
    padding-top: 50px;
    font-size: 14px;
    margin-left:4px;
}

.StarPopular2{

    color: #0065fc;
    
    padding-top: 50px;
    font-size: 14px;
    display: flex;
    margin-left: 4px;
}

.StarPopular3{
    display: flex;
    color: #0065fc;
    padding-top: 50px;
    font-size: 14px;
    margin-left: 4px;
}

.emptyStarPopular{
    color: #F2F2F2;
    margin-left: 4px;
}

/* Header */

.header{
    display: flex;
    justify-content:space-between;
}
.margeReservia{
    width: 23%;
}
/* Navigation */

.navigation{
 display:flex;
 list-style-type: none;
}

.navigation a{
    margin-right: 30px;
    margin-left: 30px;
    padding-left:15px ;
    padding-right:15px ;
    padding-top: 20px;
}

.navigation a:hover{
    border-top: #0065fc solid 2px;

    
    
}

.navRegister{
    font-weight: bolder;
    color: #0065fc;
}

.navAccommodation{
    color: #0065fc;
}

/* Reservia Logo */

#ReserviaLogo{
    
    width: 33%;
}



/* Section Research */



/* Research */
.margeResearch{
    margin-bottom: 1%;

}
.research{
    font-size:17px ;
    padding: 13px;
    font-weight: bolder;
    border: #F2F2F2 solid 1px;
    border-right: none;
    border-left: none; 
    margin-left: -1%;; 
    
}


.submit{
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 17px;
    padding: 14px;
    padding-right: 25px;
    background-color: #0065fc;
    border:#F2F2F2; 
    margin-left:-1%;
}
.fa-search{
 display: none;
}
/*logo research*/ 
.fa-map-marker-alt{
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom:17px;
    padding-right: 27px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}
.fa-search{
 display: none;
}

/* Filters */

.filterContainer {
 display: flex;
 align-items: center;
 
}

.filterContainer h2{
 font-size: 17px
}


.list {
 display: flex;
 font-weight: bolder;
 padding-left: 0px;
 
 
 
}

.itemList {
 list-style-type: none;
 padding-right: 20px;
 border: 3px solid #F2F2F2;
 border-radius:35px;
 border-left: none;
 margin-left: 42px;
}

.itemList:hover{
background-color:#DEEBFF;
}

.linkItem {
  font-size: 17px;
}


/* information logo */

.fa-info{
    color: #0065fc;
    font-size: 13px;
    padding-bottom:7px;
    padding-top:7px; 
    padding-right:10px;
    padding-left: 10px;
    border: #F2F2F2 solid 1px;
    border-radius: 100%;
}


/*  Filters logos */

.fa-money-bill-wave, .fa-child,  .fa-heart, .fa-dog{
 font-size: 18px;
 color: #0065fc;
 border-radius: 100%;
 padding: 13px;
 background-color:#d1deee;  
 margin-right: 10px;
}

.fa-child{
 padding-left:15px;
 padding-right:15px ;
}



/* Main */

.container {
 display:flex;
 justify-content: space-between;
 
}

.container  h3 {
 margin: 1%;
}

.container p{
 margin: 1%;
}




/* Section accommadation */

.accommodationContainer{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#accommodation{
    margin-left: 30px;
    font-size: 22px
}


.accommodationcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.margeAccommodation{
    margin: 2%;
}

.accommodationcardContent{
    margin-bottom: 2%;
    background-color: white;
    border-radius: 20px;
    width: 28%;
}

.accommodationcardContent:hover{
    box-shadow:5px 5px 7px 0px #989898;
    
    
    
}

.accommodationcardImg{
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.accommodationcardInformation p, h3{
    padding-bottom: 2%;
    padding-left: 2%;

    
}

.add-more{
    font-size: 18px;
    margin-left:4% 
}


/*  section the most popular */

.popularContainer {
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

/* Logo Popular */
.fa-chart-line{
    float: right;
    font-size:20px;
    margin-right: 7%;
    
    
}

.popularContainer h2{
    padding-left:5%;
}

.margePopular{
    display: flex;
    margin: 4px;
}

.popularcardContent{
    border-radius: 10px;
    margin: 4%;
    background-color: white;
    width:90%;
}
.popularcardContent:hover{
    box-shadow:5px 5px 7px 0px #989898;
}


.popularcardImg{
    margin: 1.2%;
    margin-left: 0.6%;
    border-radius: 10px 0px 0px 10px;
    width: 36%;
    height: 155px;
    object-fit: cover;
}
.popularcardInformation{
    padding-top: 2%;
    padding-left:4%;
}
.popularcardInformation p{
    margin-left:3%;
}

/* Section Activities */

#activities{   
    padding-top: 2%;
    padding-left: 2%;
}


.activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;  
    
}

.activitycard{
    width: 23%;
    border-radius: 15px;
    margin: 12px; 
    
}

.margeActivities{
    margin-top: 0%;
    margin-left: 0px;
    margin-right:0px;
    box-shadow: 1px 1px 1px  #F2F2F2;
    border-radius: 15px;
}

.margeActivities:hover{
    box-shadow:5px 5px 7px 0px #989898;
    
}


.margeActivities h3{
    padding-left: 5%;
    padding-bottom: 3%;
    
    
}

/* Pictures activities */
.activitiescardImgBig{
    width: 100%;
    height: 460px;
    border-radius: 15px 15px 0px 0px;
    margin-right: 0%;
    object-fit: cover;
}

.activitiescardImg2{
    width: 100%;
    height: 225px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.activitiescardImg3{
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.activitiescardImg4{
    width: 100%;
    height: 192px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

/* footer */
.footer{
    display:flex;
    align-items:stretch;
    background-color: #F2F2F2;
}
.inFooter1{
    margin-left:3%;
    margin-right: 24%;
}

.inFooter3{
    margin-left:20%;
}
.inFooter1 li, .inFooter2 li, .inFooter3 li{
    list-style-type: none;
    padding-top: 8px    
}

.inFooter1 ul, .inFooter2 ul, .inFooter3 ul{
    padding-left: 0px;
    font-size: 14px;
    list-style-type: none;   
}

.inFooter1 h4, .inFooter2 h4, .inFooter3 h4{
    margin-bottom:1%
}

/*/////////////////////////////////////////////////////////// */

/* Mobile Version */

@media screen and (max-width:767px)
{

    /* Header */
    .DesktopVersionNone{
        display: initial; 
    }
    .header{
        display: none;
    }
    #ReserviaLogoMobileImg{
     width: 39%;
 }
 .headerMobile{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navigationMobile{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding-bottom: 5%;
   
    
    
}
.navAccommodation{
 
 padding-left:9%;
 padding-bottom:6%;
 padding-right:9%;
 border-bottom: solid 3px #0065fc;    
}

.navActivitity{
 border-bottom:solid 3px #f2f2f2;
 padding-left:16%;
 padding-bottom:6%;
 padding-right: 15%;
}

.navActivitity:hover{
    border-bottom: solid 3px #0065fc
}

li{
 list-style-type:none;
}

/* Research */

.fa-map-marker-alt{
    padding: 17px;
}

.submit{
 display: none;
}

.fa-search{
    background-color: #0065fc;
    padding: 19px;
    border-radius: 15px;
    margin-left: -5%;
    color: #f2f2f2;  
}

.ResearchButton{
   border:none; 
   border-radius: 15px;
   padding: 0px;
   margin-left: -5%;
}

.research{
    font-size: 17px;
    padding: 0px;
    padding-top:14px;
    padding-bottom: 13px;
    padding-left: 30px;
    margin-left: -2%;
    width:61%;
}

.margeResearch{
    margin-bottom: 1%;
}

.margeResearchP{
 margin-bottom: 4%;
}

/* Filters */

.filterContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.filterContainer h2{
    margin-bottom: 1%;
}

.list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0%;
    margin-right: 3%; 
}

.itemList{
    padding: 0px;
    padding-right: 5%;
    margin-bottom: 4%;
    margin-left: 0%;
    margin-right: 2%;
}

.linkItem{
    font-size: 15px;
}

.container{
    flex-direction: column-reverse;
    width: 100%;
}

/* Popular  */

.popularContainer{
    
    width: 100%;
    border-radius: 0%;  
}

.popularcardContent{  
    margin-bottom: 6%;
    box-shadow:5px 5px 7px 0px #989898;
}

.popularcardImg{
    

}
/* Accommodation */

.accommodationContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.accommodationcardContent{
    width: 90%;     
    box-shadow:5px 5px 7px 0px #989898;
    margin-bottom: 4%;
}

/* Activity */

.activityContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.activitycard{
    width: 100%;   
}
.activitiescardImgBig,
.activitiescardImg2,
.activitiescardImg3,
.activitiescardImg4{
    height: 180px;

}

.margeActivities{
    box-shadow:5px 5px 7px 0px #989898;
}

.margeActivities h3{
    margin-top: 3%;
    padding-bottom: 5%;
}
/* Footer */

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.inFooter{
    margin-left: 10%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inFooter1, .inFooter2, .inFooter3{
    margin-left: 6%;
}
}

/*//////////////////////////////////////////////////////////*/

/* tablet Version  */
@media all and (min-width: 768px) and (max-width: 1024px)
{
    /* Filters */
    .list{
        padding: 1%;
    }
    .linkItem{
        font-size: 14px;
        padding-right: 13px;
        
    }
    .fa-map-marker-alt{
        padding-right:20px;
    }

    .itemList{
        padding-right: 0px;
        margin-left: 12px;
    }
    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
        padding: 11px;
        margin-right: 5px;
    }
    /* Main */

    .container{
        display:block;
    }

    /* Accommodation part */

    .accommodationContainer{
        width: 100%;
    }

    #accommodation {
        padding-top: 3%;
    }

    /* Popular part */

    .popularContainer{
        width: 100%;
        display: flow-root;
    }

    .add-more{
        padding-bottom: 3%;
    }
    
    /* Activity part */


    .activity{
        flex-wrap: nowrap;
    }

    .activitycard{
        margin:0px;
        width:24%; 
    }
    .activitiescardImgBig{
        height: 433px;
    }
    .margeActivities h3{
        font-size: 11px;
    }
    /* Footer */
    .inFooter1{
        margin-right: 12%;
    }
}